Source: greyfix
Section: mail
Priority: extra
Maintainer: Chris Smith <chris@cs278.org>
Build-Depends: cdbs, debhelper (>= 5), dpatch, autotools-dev, libdb4.4-dev | libdb4.5-dev | libdb4.6-dev | libdb4.7-dev | libdb4.8-dev
Standards-Version: 3.7.2

Package: greyfix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: postfix (>= 2.1)
Description: Compact greylisting policy daemon for Postfix.
 Greyfix is the greylisting policy daemon for Postfix written by
 Kim Minh Kaplan. Greylisting is an anti spam technique described by
 Evan Harris. Postfix is a popular mail transport agent developed by
 Wietse Zweitze Venema. Greyfix uses Postfix policy mechanism to
 enable greylisting with Postfix.
